:root {
  --bs-blue: #1974cf;
  --bs-indigo: #6610f2;
  --bs-purple: #33236c;
  --bs-light-purple: #bb86fc;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #f4623a;
  
  --bs-green: #03dac6;
  --bs-teal: #20c997;
  --bs-cyan: #0decf0;
  --bs-white: #fff;
  --bs-off-white: #fffc;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #f4623a;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #121212;
}

[data-theme='dark'] {
  --background: black;
  --secondary-background: #121212;
  --text-primary: white;
  --text-secondary: grey;
  --bs-yellow: #fffd00;
  --accent: darkred;
}

[data-theme='light'] {
  --background: white;
  --secondary-background: #121212;
  --text-primary: black;
  --text-secondary: grey;
  --bs-yellow: #fffd00;
  --accent: darkred;
}

.background {
  background-color: var(--background);
}


.theme-toggle {
  position: fixed;
  top: 100px;
  z-index: 99;
}

.bold {
  font-weight: 700;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.white {
  color: var(--bs-light);
}

.off-white {
  color: var(--bs-off-white);
}

.yellow {
  color: var(--bs-yellow);
}

.red {
  color: red;
}

.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 2em;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

body {
  height: 100vh;
}

h1, h2{
  color: #fff;
  margin: 0.25em;
}

a {
  text-decoration: none;
}

svg {
  cursor: pointer;
}

.error-message{
  color: red;
}

.full-page {
  height: 100vh;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textbox { 
  border-radius: 10px;   
  width:250px;
  margin: 7px;
  padding: .5em;
  font-size: 1em;
}

.btn {
  background-color:#fff;
  border: none;
  box-shadow: 0px 8px 15px black inset; 
  border-radius: 10px; 
  color:#07246a;
  text-align: center;
  font-size: 1em;
  text-align: center;
  font-weight: 500;
  font-family: fantasy;
  text-decoration: none;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  padding: .3em 0em;
  margin: 5px;
  min-width:100px;
}

/*******************PUBLIC FEED********************* */

.feed-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  margin-top: 60px;
  margin-bottom: 4em;
}
.grid-item {
  position: relative;
  background-color: var(--secondary-background);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 9px;
  padding: 0px 5px 10px;
  margin: 20px 10px 0px;
  text-align: center;
}

.avatar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 15px 20px 0px;
  /* box-shadow: 0px 8px 15px black; */
}

.avatar {
  max-height: 100px;
  max-width: 100px;
}

.user-name {
  font-size: 1.5em;
}

.title {
  font-size: 1.25em;
}

.post-body {
  border: none;
  box-shadow: 0px 8px 15px black inset; 
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 5px 5px;
  padding: 10px 5px;
  word-break: break-word;
}

.show {
  display: block;
  position: fixed;
  font-family: 'Segoe UI';
  font-size: 1.15em;
  color:#fff;
  top: 10%;
  overflow: auto;
  margin: 5px;
  z-index: 99;
}

.show-comments {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #050404db;
  border: 1px solid grey;
  border-radius: 10px;
  min-height: 60%;
  max-height: 200%;
  padding: 10px;
  top: 35%;
  left: 0;
  right: 0;
  z-index: 99;
  animation: showMe 3s;
}

.comment-btn {
  width: fit-content;
  padding: 5px;
  margin: 10px auto 20px;
  font-size: .75em;
}

.comment-textbox {
  margin: 1px auto;
  padding: .3em;
  font-size: .85em;
}

.comment-close {
  font-size: 1.5em;
  background-color: var(--bs-red);
  border: 1px solid #fff;
  border-radius: 50%;
}

.comment-box {
  background-color: #121212;
  box-shadow: 0px 8px 15px black inset;
  text-align: left;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  flex-grow: 1;
  max-height: 300px;
  overflow: auto;
}

.comment {
  background-color: #ffffff;
  box-shadow: 0px 3px 15px black inset;
  color: black;
  text-align: left;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 3px;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: .85em;
}

.comment-image div {
  height: 40px !important;
  width: 40px !important;
}

.comment-image img {
  height: 40px !important;
  width: 40px !important;
}

.spare {
  margin-left: 6px;
}

/* @keyframes showMe {
  0% {height: 0px;}
  50% {height: 50px;}
  100% {height: fit-content;}
} */

.feedback {
  display: flex;
 
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
}

.likes {
  margin-right: 1em;
}

.heart {
  margin-right: .15em;
}

.comment-icon {
  margin-left: .2em;
}

.post-title{
  color: var(--bs-light);
  font-size: 1.5em;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  text-decoration: none;
}

.post-link {
  font-size: 1.15em;
  color: var(--bs-light-purple);
}

.post-description {
  font-family: 'Segoe UI';
  font-size: 1em;
  color:var(--text-primary);
}

.maximize {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 30px;
}

.see-more {
  color: var(--bs-blue);
  font-size: 1em;
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 0%, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 2;
  padding-right: 17px;
  cursor: pointer;
}

.hide-overlay {
  display: none;
}

.show-overflow {
  overflow: visible;
}

.grow {
  max-height: fit-content;
}

@media( min-width: 600px ) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media( min-width: 1025px ) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }

  .show { 
    width: 50vw;
    left: 25%;
    right: 25%;
    top: 10%;
    overflow: auto;
    height: 85vh;
  }
}
  
/* ******************NAVBAR********************* */

.navBar {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: #121212f2;
  z-index: 99;
  width: 100%;
  height: 60px;
}

.nav-icon {
  color: var(--bs-off-white);
  width: 40px;
  height: 40px;
  margin: 5px;
}

.icon {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
}

.profile-icon {
  position: fixed;
  right: 50px;
  top: 3px;
  color: var(--bs-off-white);
  width: 40px;
  height: 35px;
}

.message-icon {
  position: fixed;
  right: 100px;
}

.navBar button {
  cursor: pointer;
  background: transparent;;
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  background: #121212;
  width: max-content;
  height: fit-content;
  margin-top: 0;
  padding: 40px;
  font-size: 1.5em;
}

.menuNav a {
  color:#fff;
}

/* ******************POST********************* */
.post-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px 0;
}

.text-area {
  height: 100px;
}

/* ******************PROFILE********************* */
.profile-container{
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 4em;
  text-align: center;
}

.profile-bottom {
  display: flex;
}

.my-posts {
  border: 1px solid grey;
  border-radius: 10px;
  width: 50%;
  padding: .75em;
  margin-top: 2px;
}

.comment-btn {
  width: fit-content;
  padding: 5px;
  margin: 10px auto 5px;
  font-size: .75em;
}

.profile-post {
  border-bottom: 1px solid grey;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.rounded {
  border-radius: 50%;
}

.message {
  display: flex;
}