.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  body{
    color:#cbeb19;
    font-size: xx-large;
  }

  .log_RegTitle{
    color: #2f4f4f;
    font-size: 88px;
    -webkit-text-stroke: 3px #f8f8f8;
    text-shadow: 0px 7px 12px #cbeb19;
  }

  #log_RegBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
  }
     
  
    .log_RegButton{
      background-color:#2f4f4f; 
      box-shadow: 0px 8px 15px #f8f554;
      border: 1px solid #f8f554; 
      font-size: x-large;
      border-radius: 10px; 
      border-color: #f8f8f8;
     border-width: 2px; 
      color:#f8f554; 
      outline: none; 
      height:3em; 
      width: 6em; 
      height: 2em;
      margin: 10px;
  
    }

    .log_RegTextbox { 
      background: rgba(183, 200, 231, 0.4); 
      border: 1px solid rgb(34, 87, 34); 
      border-radius: 5px; 
      box-shadow: 0 0 5px 3px rgb(34, 87, 34); 
      color: rgb(34, 87, 34); 
      outline: none; 
      height: 3em; 
      width: 25em; 
      margin-right: 10px;
      font-size: medium;
    } 
  
    
    .message{
      color: red;
    }
    .regLink{
      border: solid ;
      text-decoration: none;
      border-color: #f8f8f8;
      border-radius: 15px;
      background-color:#2f4f4f; 
      color:#f8f554;
      padding: 20px; 
      width: auto;
      height: auto;
      box-shadow: 0px 8px 15px #f8f554;
    
      
    }
  
    #thingList{
      border: solid;
      padding: 20px;
     
    }
  
    #title{
      margin-top: 100px;
    }
  
    

    
    