#container{
    display: flex;
    justify-content: space-evenly;
    background-color: #2f4f4f;
    color: #f8f554;
    font-size: xx-large;
 
    text-align-last: center;
}
.inactive{
    color: #f8f554;
    text-decoration: none;
    
}



@media (max-device-width:600px) {
    #container{
        display: none;
    }
}
